{include file="Common/header" /}
<!-- 这里引入自定义cs -->
<!--editor.md.css-->
<link rel="stylesheet" type="text/css" href="__STATIC__/editor.md/css/editormd.css" />
{include file="Common/menu" /}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>原密码</label>
                    <input type="password" name="old_psw" class="form-control" placeholder="原密码" value="">
                </div>
                <div class="form-group">
                    <label>新密码</label>
                    <input type="password" name="new_psw" class="form-control" placeholder="新密码" value="">
                </div>
                <div class="form-group" id="markdown">

                </div>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-default" id="psw_btn">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>

{include file="Common/bottom" /}
<!--这里引用自定义js-->
<script src="__STATIC__/editor.md/editormd.js"></script>
<script>
    var SCOPE = {
        'editormd_path_url' :   "__STATIC__/editor.md/lib/"
    };
</script>
<script src="__STATIC__/admin/js/contentDetail.js"></script>
{include file="Common/footer" /}