{include file="Common/header" /}
<!--这里添加css-->
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/default.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/component.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/blong.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
                        <span>4/10/13</span>
                        <span>PHP</span>
                    </time>
                    <a href="{:url('detail')}">
                        <div class="cbp_tmlabel">
                            <h2>这是一个博文标题！！</h2>
                            <p>这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。</p>
                        </div>
                    </a>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
                        <span>4/10/13</span>
                        <span>PHP</span>
                    </time>
                    <a href="{:url('detail')}">
                        <div class="cbp_tmlabel">
                            <h2>这是一个博文标题！！</h2>
                            <p>这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。</p>
                        </div>
                    </a>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
                        <span>4/10/13</span>
                        <span>PHP</span>
                    </time>
                    <a href="{:url('detail')}">
                        <div class="cbp_tmlabel">
                            <h2>这是一个博文标题！！</h2>
                            <p>这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。</p>
                        </div>
                    </a>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
                        <span>4/10/13</span>
                        <span>PHP</span>
                    </time>
                    <a href="{:url('detail')}">
                        <div class="cbp_tmlabel">
                            <h2>这是一个博文标题！！</h2>
                            <p>这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。</p>
                        </div>
                    </a>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
                        <span>4/10/13</span>
                        <span>PHP</span>
                    </time>
                    <a href="{:url('detail')}">
                        <div class="cbp_tmlabel">
                            <h2>这是一个博文标题！！</h2>
                            <p>这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。这是博文内容。</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container text-center page_control">
        <a class="prev_page"><span class="fa fa-angle-left"></span></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="next_page"><span class="fa fa-angle-right"></span></a>
    </div>


{include file="Common/footer" /}
<!--这里添加js-->
<script src="__STATIC__/index/js/modernizr.custom.js"></script>
</body>
</html>