<footer class="cm-footer"><span class="pull-left">作者 Zeee</span><span class="pull-right">&copy; 版本 v1.0</span></footer>
</div>

<script src="__STATIC__/admin/js/lib/jquery-2.1.3.min.js"></script>
<script src="__STATIC__/admin/js/jquery.mousewheel.min.js"></script>
<script src="__STATIC__/admin/js/jquery.cookie.min.js"></script>
<script src="__STATIC__/admin/js/fastclick.min.js"></script>
<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/js/clearmin.min.js"></script>
<!--layer.js-->
<script src="__STATIC__/layer/layer.js"></script>
<!--公共js-->
<script src="__STATIC__/admin/js/common.js"></script>
<!--bootstrap-table-->
<script src="__STATIC__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__STATIC__/bootstrap-table/bootstrap-table-zh-CN.js"></script>