<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/font-awesome.min.css">
    <!--bootstrap-table-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-table/bootstrap-table.min.css">
    <title>ZeBlong后台管理</title>