</head>
<body class="cm-no-transition cm-1-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li class="{:isActive('Index')}"><a href="{:url('admin/Index/index')}" class="sf-house">主页</a></li>
                    <li class="cm-submenu {:isActive('Blong',1,'pre-open')}">
                        <a class="sf-window-layout">博客管理 <span class="caret"></span></a>
                        <ul>
                            <li class="{:isActive(array('category'),2)}"><a href="{:url('admin/Blong/category')}">分类管理</a></li>
                            <li class="{:isActive(array('content'),2)}"><a href="{:url('admin/Blong/content')}">博文管理</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu {:isActive('Setting',1,'pre-open')}">
                        <a class="sf-wrench-screwdriver">设置 <span class="caret"></span></a>
                        <ul>
                            <li class="{:isActive(array('basic'),2)}"><a href="{:url('admin/Setting/basic')}">博客设置</a></li>
                            <li class="{:isActive(array('passWord'),2)}"><a href="{:url('admin/Setting/passWord')}">重置密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <h1>{$_title || default=''}</h1>
            <form id="cm-search" action="index.html" method="get">
                <input type="search" name="q" autocomplete="off" placeholder="Search...">
            </form>
        </div>
        <div class="pull-right">
            <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"> <span class="label label-danger">1</span> </button>
            <div class="popover cm-popover bottom">
                <div class="arrow"></div>
                <div class="popover-content">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading text-overflow">
                                <i class="fa fa-fw fa-envelope"></i> 新评论
                            </h4>
                            <p class="list-group-item-text text-overflow">这是一条新留言留言留言！！</p>
                        </a>
                    </div>
                    <div style="padding:10px"><a class="btn btn-success btn-block" href="#">更多</a></div>
                </div>
            </div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong>{:session('ZeBlong_admin_info')['name']}</strong></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> 个人</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i> 设置</a>
                </li>
                <li>
                    <a href="{:url('admin/Login/logOut')}"><i class="fa fa-fw fa-sign-out"></i> 注销</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">