{include file="Common/header" /}
<!-- 这里引入自定义cs -->
{include file="Common/menu" /}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <div id="toolbar" class="form-inline">
                    <span class="btn-group">
                    <button type="button" class="btn btn-danger " id="del_all_btn">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
                    </button>
                    </span>
                </div>
                <table class="table table-bordered table-hover" id="message_table">

                </table>
            </div>
        </div>
    </div>
</div>

{include file="Common/bottom" /}
<!--这里引用自定义js-->
<script>
    var SCOPE = {
        "get_message_url"   :   "{:url('admin/Comment/message')}",
        "del_comment_url"   :   "{:url('admin/Comment/deleteComment')}",       //删除评论
    };
</script>
<script src="__STATIC__/admin/js/message.js"></script>
{include file="Common/footer" /}